<ng-container *ngIf="iconDir === 'der' else iconIzq">
    <button 
    [disabled]="disabling || disableForClone" [class]="class" [id]="idButton" 
    (click)="!disabling ? onEmit(): ''">
        <div *ngIf="text" [class]="class + '_text'" [style]="text.length > 15 ? 'font-size: 1rem': ''">
            {{text}}
        </div>

        <div *ngIf="icon" [class]="class + '_icon'">
            <mat-icon [svgIcon]="icon"></mat-icon>
        </div>
    </button>
</ng-container>

<ng-template #iconIzq>
    <button 
        [disabled]="disabling || disableForClone" 
        [class]="class" [id]="idButton" 
        (click)="!disabling ? onEmit(): ''">
        <div *ngIf="icon" [class]="class +  '_icon'">
            <mat-icon [svgIcon]="icon"></mat-icon>
        </div>

        <div *ngIf="text" [class]="class + '_text'" [style]="text.length > 15 ? 'font-size: 1rem': ''">
            {{text}}
        </div>

    </button>
</ng-template>