<section class="task" *ngIf="task" id="task_{{task.id}}">

  <div class="task_header">

    <div class="task_header_title">
      <h2>
        {{task.name}}
      </h2>
      <mat-icon svgIcon="setting-menu-vertical">
      </mat-icon>
    </div>

    <div class="task_header_icons">
      <div class="task_header_icons_buttons">
        <mat-icon svgIcon="setting-menu-vertical">
        </mat-icon>
        <mat-icon svgIcon="setting-menu-vertical">
        </mat-icon>
        <mat-icon svgIcon="setting-menu-vertical">
        </mat-icon>
      </div>
    </div>

  </div>

  

  <div class="task_buttons">

    <app-button
      [icon]="'file-add'"
      [text]="'Add Subtask'"
      [class]="'btn_empty_state'">
    </app-button>

    <app-button
      [icon]="'file-check'"
      [text]="'Finish'"
      [class]="'btn_success'">
    </app-button>

  </div>

</section>