<section class="task" 
  *ngIf="!(this.task$ | async)?.finish" 
  id="task_{{task?.id}}">

  <div class="task_header">

    <div class="task_header_title">
      <h2>
        {{task?.name}}
      </h2>
      <mat-icon 
        matRipple
        svgIcon="setting-menu-vertical"
        [matMenuTriggerFor]="menu">
      </mat-icon>

      <mat-menu #menu="matMenu" xPosition="after">

        <button mat-button matRipple color="warn" (click)="this.actionTask('remove')">
          <mat-icon svgIcon="file-remove"></mat-icon>
          <span>Remove</span>
        </button>

        <button mat-menu-item matRipple (click)="this.actionTask('edit')">
          <mat-icon svgIcon="interface-edit"></mat-icon>
          <span>Edit</span>
        </button>

      </mat-menu>

    </div>

    <div class="task_header_icons">
      <div class="task_header_icons_buttons">
        <mat-icon matRipple svgIcon="user-add" matTooltip="assign">
        </mat-icon>

        <div class="task_header_icons_buttons_count" 
          matTooltip="subtask"*ngIf="task?.subtask?.length">
          <mat-icon svgIcon="interface-hierarchy">
          </mat-icon>
          <span>
            {{task?.subtask?.length}}
          </span>
        </div>
      </div>
    </div>

  </div>

  <div class="task_buttons">

    <app-button
      [icon]="'file-add'"
      [text]="'Add Subtask'"
      [class]="'btn_empty_state'">
    </app-button>

    <app-button
      [icon]="'file-check'"
      [text]="'Finish'"
      (clicker)="this.actionTask('completed')"
      [class]="'btn_success'">
    </app-button>

  </div>

</section>
<ng-container *ngIf="task?.subtask?.length">

  <section class="listSubtask">
     <app-subtask
      *ngFor="let subtask of task?.subtask" 
      [subtask]="subtask">
    </app-subtask>
  </section>

</ng-container>
