<main class="table" cdkDropListGroup>
    <!-- <button
      class="board__add"
      cdkOverlayOrigin
      (click)="displayOverlay()"
      #trigger="cdkOverlayOrigin"
      mat-raised-button
      color="primary"
    >
      Añadir Tarea
    </button> -->

    <section class="table_list">

      <app-drag-drop-step 
        *ngFor="let list of lists$ | async" 
        [list]="list" 
        (editTask)="displayOverlay($event)">
      </app-drag-drop-step>

    </section>

    <ng-template
        #connectedOverlay='cdkConnectedOverlay'
        cdkConnectedOverlay
        [cdkConnectedOverlayOpen]="isOverlayDisplayed"
        [cdkConnectedOverlayHasBackdrop]="overlayOptions.hasBackdrop"
        [cdkConnectedOverlayPositions]="position"
        (backdropClick)="hideOverlay()"
        (detach)="hideOverlay()"
    >
      <app-create-task 
        [connectedOverlay]="connectedOverlay" 
        [task]="task" 
        [listId]="listId">
      </app-create-task>
    </ng-template>
  </main>