//Regular
@font-face {
    font-family: "Silka";
    src: local("Silka"), url(/assets/fonts/Silka-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

//Regular-italic
@font-face {
    font-family: "Silka";
    src: local("Silka"), url(/assets/fonts/Silka-RegularItalic.woff) format("woff");
    font-weight: normal;
    font-style: italic;
}

//Medium
@font-face {
    font-family: "Silka";
    src: local("Silka"), url(/assets/fonts/Silka-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
}

//Medium-italic
@font-face {
    font-family: "Silka";
    src: local("Silka"), url(/assets/fonts/Silka-MediumItalic.woff) format("woff");
    font-weight: 500;
    font-style: italic;
}

//Thin
@font-face {
    font-family: "Silka";
    src: local("Silka"), url(/assets/fonts/Silka-Thin.woff) format("woff");
    font-weight: 100;
    font-style: normal;
}

//Thin-italic
@font-face {
    font-family: "Silka";
    src: local("Silka"), url(/assets/fonts/Silka-ThinItalic.woff) format("woff");
    font-weight: 100;
    font-style: italic;
}

//Ligth
@font-face {
    font-family: "Silka";
    src: local("Silka"), url(/assets/fonts/Silka-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal;
}

//Ligth-italic
@font-face {
    font-family: "Silka";
    src: local("Silka"), url(/assets/fonts/Silka-LightItalic.woff) format("woff");
    font-weight: 300;
    font-style: italic;
}

//ExtraLigth
@font-face {
    font-family: "Silka";
    src: local("Silka"), url(/assets/fonts/Silka-ExtraLight.woff) format("woff");
    font-weight: 200;
    font-style: normal;
}

//ExtraLigth-italic
@font-face {
    font-family: "Silka";
    src: local("Silka"), url(/assets/fonts/Silka-ExtraLightItalic.woff) format("woff");
    font-weight: 200;
    font-style: italic;
}

//SemiBold
@font-face {
    font-family: "Silka";
    src: local("Silka"), url(/assets/fonts/Silka-SemiBold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}

//SemiBold-italic
@font-face {
    font-family: "Silka";
    src: local("Silka"), url(/assets/fonts/Silka-SemiBoldItalic.woff) format("woff");
    font-weight: 700;
    font-style: italic;
}

//Bold
@font-face {
    font-family: "Silka";
    src: local("Silka"), url(/assets/fonts/Silka-Bold.woff) format("woff");
    font-weight: 800;
    font-style: normal;
}

//Bold-italic
@font-face {
    font-family: "Silka";
    src: local("Silka"), url(/assets/fonts/Silka-BoldItalic.woff) format("woff");
    font-weight: 800;
    font-style: italic;
}

//Black
@font-face {
    font-family: "Silka";
    src: local("Silka"), url(/assets/fonts/Silka-Black.woff) format("woff");
    font-weight: 900;
    font-style: normal;
}

//Black-italic
@font-face {
    font-family: "Silka";
    src: local("Silka"), url(/assets/fonts/Silka-BlackItalic.woff) format("woff");
    font-weight: 900;
    font-style: italic;
}