$primary: #6B46C1;
$primary-light: #B794F4;

$secondary : #3f61f7;

$white: white;

$gray: #a6a6a6;
$gray-light: #F1F1F1;
$black: #222;

$shadow: rgba(0, 0, 0, 0.3);

//colores de servicio:
$danger-color: #DC3545;
$alert-color: #FFC107;
$info-color: #0AC4E1;
$success-color: #28A745;
$disabled-background: #F0F0F0;
$disabled-color: #C6B8DC;

$danger-light-color: #fabfb5;
$alert-light-color: rgba(234, 220, 161, 1);
$info-light-color: #98D7E7;
$success-light-color: #CFEDDF;
//modales

$border-radius-modal: 1rem;
$color-grey-shadows: #f0f4f7;
